.search,
.results {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search {
  gap: 200px;
  align-items: center;
  margin-bottom: 20px;

  @media screen and (width <= 768px) {
    flex-direction: column-reverse;
    gap: 20px;
  }
}

.error {
  width: 80px;
  height: 80px;
  font-size: 30px;
  background-color: var(--error-color);
  border: none;
  border-radius: 100%;
  transition: box-shadow 0.3s, transform 0.3s;

  &:focus-visible {
    outline: 2px solid var(--primary-color);
  }

  &:active {
    transform: scale(0.9);
  }

  @media (hover: hover) {
    &:hover {
      box-shadow: 0 0 5px 5px rgb(196 35 35 / 51.4%);
      cursor: pointer;
    }
  }
}

.results {
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
}

.loader {
  flex-grow: 1;
  width: 100%;
  background-image: url("/src/assets/images/loader.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  to {
    transform: rotate(1turn);
  }
}
