.results {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  padding-top: 20px;
}

.results_box {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.character {
  display: flex;
  flex-grow: 1;
  gap: 30px;
  justify-content: space-between;
}
